
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-4 pt-5">
    <div>
      <h3 class="text-center">Iniciar Sesión</h3>
    </div>
    <%= form_tag sessions_path, method: :post do %>
      <div class="form-group">
        <%= email_field_tag :email, nil, class: 'form-control', required: true, autofocus: true, placeholder: "Correo" %>
      </div>
      <div class="form-group">
          <%= password_field_tag :password, nil, class: 'form-control', required: true, placeholder: 'Contraseña' %>
      </div>
      <%= submit_tag 'Iniciar', class: 'btn btn-lg btn-success btn-block' %>
    <% end %>
  </div>
</div>
